.navcontainer{
    display: flex;
    flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding-inline: 5rem;
}

.exosky{
    color:white ;
    font-size: x-large;
    font-family: centauri;

}


.middelnavbar{
    display: flex;
    flex-direction: row;
   gap: 50px;
}


.custom-link {
    text-decoration: none; /* Supprime le soulignement */
    color: white; /* Change la couleur du texte */
    font-size: x-large;
    font-family: iceland
  }

  .auth{
    display: flex;
     flex-direction: row;
     gap: 2rem;
  }

.signup{
    background-color: white;
    border: none;
    color: black;
    border-radius: 12px;
    padding: 0.5rem 1.5rem ;
    cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
    font-size: x-large;
    font-family: iceland
}

.login{
    background: transparent; /* Désactive la couleur de fond par défaut */
    border: solid; /* Supprime la bordure, si nécessaire */
    border-color: white;
    border-width: 1px;
    background-color: none;
    color: white;
    border-radius: 12px;
    padding: 0.5rem 1.5rem ;
    cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
    font-size: x-large;
    font-family: iceland
}


