.bigcontainerr{
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    overflow: hidden;
}
.space{
    width: 80%;
}


.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-grow: 1;
    position: relative;
}


.containerapp2{
    position: relative;
    height: 100vh; 
    background-image: url('./../../../../images//backg2.jpg'); 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
}