@font-face {
    font-family: 'centauri'; /* Give your font a name */
    src: url('./../fonts/Centauri.otf') format('opentype'); /* Path to your font file */
    font-weight: normal; /* Define the weight of the font */
    font-style: normal; /* Define the style of the font */
  }

  @font-face {
    font-family: 'iceland'; /* Name for the TTF font */
    src: url('./../fonts/Iceland-Regular.ttf') format('truetype'); /* TTF format */
    font-weight: normal; /* Weight of the font */
    font-style: normal; /* Style of the font */
}