input {
    outline: none;
    width: 90%;
    padding: 0.5rem 0.75rem;
    border: solid;
    border-width: 0px;
    border-radius: 8px;
    background: #A1A1A1;
    padding: 0.5rem 0rem;

  }

  input:focus {
    outline: none;
  }


.containerCustomForm{
    position: relative;
    /* margin: 1.5rem 0rem; */
    
}

.label{
    position: absolute;
    font-family: iceland;
    font-size: x-large;
    left: 0;
    top: -60px;
    color: white;
}


